/* Оформление ячеек таблицы */
td {
    width: auto;
    height: auto;
    border: 1px solid black;
}
/* Оформление кнопок */
button {
    margin: 10px;
    padding: 5px;
}

.menuButtons {
    display: flex;
    justify-content: center;

}
img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 50px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: transparent;
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

table{
    height: 500px;
    width: 500px;
    border-collapse: collapse; /* объединение границ ячеек */
}
/* Оформление пути */
.path {
    background-color: yellow;
    opacity: 0.5;
}
/*Оформление непроходимых клеток*/
.impassable{
    background-color: black;
    opacity: 0.5;
}
/*Оформление старта*/
.start{
    background-color: green;
    opacity: 0.5;
}
/*Оформление финиша*/
.end{
    background-color: rgb(161, 6, 6);
    opacity: 0.5;
}

/*Оформление холста*/
canvas {
    border: 1px solid #ccc;
    cursor: crosshair;
    background-color: white;
}

body {
    background: radial-gradient(circle at center, #ad5da7, #e4e5e6);
}
  