/* Оформление ячеек таблицы */
td {
    width: auto;
    height: auto;
    border: 1px solid black;
}
/* Оформление кнопок */
button {
    margin: 10px;
    padding: 5px;
}
table{
    height: 500px;
    width: 500px;
    border-collapse: collapse; /* объединение границ ячеек */
}
/* Оформление пути */
.path {
    background-color: yellow;
    opacity: 0.5;
}
/*Оформление непроходимых клеток*/
.impassable{
    background-color: black;
    opacity: 0.5;
}
.start{
    background-color: green;
    opacity: 0.5;
}
.end{
    background-color: rgb(161, 6, 6);
    opacity: 0.5;
}
body {
    background: radial-gradient(circle at center, #ad5da7, #e4e5e6);
}
  